/* LockerRoom.css */
.locker-room-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 4 columns with equal width */
    gap: 10px; /* Gap between grid items */
}  

h1 {
    text-align: center;
    color: #2ecc71;
}